doctype
html
  haed
    meta(charset="utf-8")
    title Sample
    link(rel="stylesheet",href="style.css")
  body
    h1 Index Page
    p This is Sample Page
    p= 'test'
    p write multiline.
      | 2nd line
    p. 
       aaaaaaaaaaaaaaaaaaaaaaaaaa. 
       bbbbbbbbbbbbbbbbb.
    p#test.mystyle This is test
    //<p id="test" class="mystyle">this is test</p>

    a(href='/hello',target="_blank") test_page
    //<a href="/hello" target="_blank">test page</a>
